/**
 *
 *
 */

div.outer_box {
	display: block;
	float: left;
	width: 500px;
	height: auto;
	margin-left: 50px;
	margin-top: 30px;
}

p, b {
	font-size: 12px;
	line-height: 1.4em;
	font-family: Verdana, Arial, sans-serif;
	margin: 0px;
}

em {
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
}
b {
	font-weight: bold;
	color: #009900;
}
h1,h2,h3,h4,h5 {
	font-family: Verdana, Arial, sans-serif;
}

div.t_info {
	display: block;
	margin-bottom: 10px;
	color: #990000;
}
div.t_info p {
	line-height: 1.2em;
	margin: 0px;
	padding-left: 20px;
}