/**
 *	Test-css
 *
 */
 
p, h1, h2, h3 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	margin: 0px;
}

.example {
	display: block;
	float: left;
	margin: 0px;
	padding: 10px;
	color: #999999;
}

#example {
	min-width: 200px;
	max-width: 500px;
	min-height: 150px;
	max-height: 300px;
	overflow: hidden;
	color: #660000;
}

td {
	display: block;
	float: left;
	width: 123px;
	text-align: center;
	vertical-align: bottom;
	border-bottom: 1px solid #990099;
}